h1{
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	color: #b66c17;
	font-size: 30px;
	padding: 15px;
	display: inline-block;
	margin-top: 23px;
	padding: 0;
	margin-left: 10px;

}

#nav{
	background-color: #ffe1b6;
}


html{
	height: 100%

}

body{
	margin: 0;
	background-color: #fff5e9;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


#browser{
	margin-top: 30px;
	float: right;
	display: inline;
	font-family: 'Work Sans', sans-serif;
	list-style-type: none;
	text-transform: uppercase;
	color: #b66c17;
	font-weight: 600;
}

#browser li{
	display: inline;
	padding: 24.5px 15px;
	margin-top: 20px;

}

#mobile{
	font-family: 'Work Sans', sans-serif;
	list-style-type: none;
	text-transform: uppercase;
	color: #b66c17;
	font-weight: 600;
	display: none;
}

#mobile li{

}

a{
	color: #b66c17;
	text-decoration: none;
}

a.selected{
	color: #00233b;
}

#types1 div {
	padding: 15px;
	display: inline-block;
	vertical-align: top;
}

#types2 div {
	padding: 15px;
	display: inline-block;
	vertical-align: top;
}

#types1, #types2{
	width: 790px;
	margin: auto;
}


img{
	width: 190px;
	height: 190px;
	margin: auto;

}

p{
	width: 190px;
	font-family: 'Crimson Text', serif;
	font-size: 12px;
	color: #b66c17;
	background-color: rgba(255, 225, 182, .9);
	padding: 5px;
}

#header{
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	background-color: rgba(255, 225, 182, 0.9);
	padding: 10px;
	margin: auto;
	width: 100px;
	display: block;
	margin-bottom: 5px;
	margin-top: 20px;
}
@media screen and (max-width: 900px){
	#nav{
		height: 200px;
	}

	#browser{
		display: none;
		margin-top: 25px;
	}

	#mobile{
		display: block;
		text-align: center;
	}

	h1{
		text-align: center;
		display: block;
		margin: 0;
		padding-top: 10px;
	}

	#types1, #types2{
		width: 200px;
		margin: auto;
	
	}
	
}

