h1{
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	color: #b66c17;
	font-size: 30px;
	padding: 15px;
	display: inline-block;
	margin-top: 23px;
	padding: 0;
	margin-left: 10px;

}

#nav{
	background-color: #ffe1b6;

}

html{
	height: 100%

}

body{
	margin: 0;
	background-image: url("home4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#browser{
	margin-top: 30px;
	float: right;
	display: inline;
	font-family: 'Work Sans', sans-serif;
	list-style-type: none;
	text-transform: uppercase;
	color: #b66c17;
	font-weight: 600;
}

#browser li{
	display: inline;
	padding: 24.5px 15px;
	margin-top: 20px;

}

#mobile{
	font-family: 'Work Sans', sans-serif;
	list-style-type: none;
	text-transform: uppercase;
	color: #b66c17;
	font-weight: 600;
	display: none;
}

#mobile li{

}

a{
	color: #b66c17;
	text-decoration: none;
}

a.selected{
	color: #00233b;
}


img{
	float: left;
	width: 350px;
	margin-top: -350px;

}

#text{
	width: 500px;
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	font-style: italic;
	margin: auto;
	margin-top: 300px;

}

@media screen and (max-width: 900px){
	#nav{
		height: 200px;
	}

	#browser{
		display: none;
		margin-top: 25px;
	}

	#mobile{
		display: block;
		text-align: center;
	}

	h1{
		text-align: center;
		display: block;
		margin: 0;
		padding-top: 10px;
	}

	p{
		margin: auto;
		font-size: 15px;
		width: 200px;
		margin-top: 400px;
	}
	
}

@media screen and (max-width: 1220px){
	
	p{
		margin: auto;
		font-size: 35px;
		width: 200px;
		margin-top: 400px;
	}

	img{
		width: 250px;
		margin: auto;
		display: block;
		float: none;
		margin-top: -550px;

	}
}
